*{
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: IBM Plex Sans Arabic;
}
@media screen { body {
    min-width: 340px; }
    
}
/*PALABRAS DENTRO DE LAS LISTAS*/

a{
    text-decoration: none;
    color: white;
}
/*HEADER*/ 

.encabezado ul.navegador{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bolder;
}

/*FOOTER*/

.integrantes {
    text-align: center;
    color: white;
}
.social-links{
    color: grey;
}
.formato .footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bolder;
}
