* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: IBM Plex Sans Arabic;
}

/*PALABRAS DENTRO DE LAS LISTAS*/

a {
    text-decoration: none;
    color: white;
}

/*HEADER*/
.encabezado{
    position: fixed;
    z-index: 2000;
    background-color: violet;
    width: 100%;
}
.computer {
    display: none;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buscador {
    width: 95%;
}

.input {
    width: 115px;
}

.menu {
    border: none;
}

.encabezado ul.navegador {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bolder;

}
.navegador a:hover{
    color: gray;
    text-decoration: none;
}


/*MAIN*/
main{
    padding-top: 48.02px;
}
.titulos {
    color: white;
    text-align: center;
}
.items{
    display: flex;
    justify-content: space-around;
    flex-direction: wrap;
    width: 100%;
    list-style: none;
}
img{
    display: inline;
    width: 80%
    
}

/*FOOTER*/

.integrantes {
    text-align: center;
    color: white;
    margin-top: 5px;
    padding-bottom: 15px;
}

.social-links {
    color: grey;
}

.formato .footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bolder;
}

@media (min-width:720px) {
    .computer {
        display: block;
        width: 100%;
    }

    .phone{
        display: none;
    }
    .buscador{
        width: 25%;
    }
}

